:root {
	--clr-primary: #F15A24;
	--clr-secondary: #1E2C6E;
}

.btn-primary {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-primary:hover {
	background-color: var(--clr-secondary);
	border-color: var(--clr-secondary);
}