@import "bootstrap/scss/bootstrap";

:root {
	--bs-nav-link-font-size: 0.875rem;
	--clr-map-route-line: #6FA1EC;
}

.logo-sm {
	width: 60px;
	height: 60px;
}

#header-company-name:hover {
	color: initial;
}

.sidebar a:hover {
	text-decoration: underline;
}

.header-container {
	grid-template-columns: 1fr 2fr;
}

.leaflet-container {
	width: 100%;
	height: 100vh;
}